body {
  background-image: url("/static/brand/foot.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

html,
body {
  height: 100%;
}

main {
  background-color: white;
  border-radius: 15px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
