@font-face {
    font-family: "Poppins";
    src: url("/static/font/Poppins-Regular.ttf");
}

body {
    display: grid;

    /* 그리드 영역 지정 */
    grid-template-areas:
        
        "header"
        "article"
        "footer";
    
    /* 1행 2행 3행 높이 지정, 1fr의 경우 1행과 3행의 나머지 공간 */
    /* fr의 경우 지정값들을 먼저 지정하고 남은 영역을 기준으로 함 */
    grid-template-rows: 10vh auto 15vh;
    /* 1열 2열 너비 지정 */
    /* grid-template-columns: 1fr; */
    gap: 20px;
    

    width: 100%;
    
}

#pageHeader {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-area: header;
    background-color: #55cca2;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.title-header h1 {
    /* padding-top: 43px; */
    color: #f6ffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-style: oblique;
}

.dataframe table {
    margin-bottom: 0px;
}

thead { background:#55cca2;
}

thead>tr {
    color: #f6ffff;
}

tbody { background-color: white;
}

td:nth-of-type(1){
    font-weight: bold;

}

tr>td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

table {
    table-layout: auto;
    font-family: 'Poppins',sans-serif;
}


#Article {
    grid-area: article;
    display: flex;
    justify-content: center;
}

#Article tbody>tr>th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#nationTable {
    margin-right: 160px;
    margin-bottom: 20px;
}

#pageFooter {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-family: 'Poppins',sans-serif;
    color: white;
}



