body {
    display: grid;

    /* 그리드 영역 지정 */
    grid-template-areas:
        
        "header header"
        "article nation";
    
    /* 1행 2행 3행 높이 지정, 1fr의 경우 1행과 3행의 나머지 공간 */
    /* fr의 경우 지정값들을 먼저 지정하고 남은 영역을 기준으로 함 */
    grid-template-rows: 100px auto;
    /* 1열 2열 너비 지정 */
    grid-template-columns: 3.5fr 1fr;

    gap: 20px;
    
    height : 100vh;


}

.title-header h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 12px;
}

.dataframe table {
    margin-bottom: 0px;
}

thead { background:lightgray;}

td:nth-of-type(1){
    font-weight: bold;
}

tr>th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

tr>td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

table {
    width: 100%;
    table-layout: auto;
}

#pageHeader {
    grid-area: header;
}

#mainArticle {
    grid-area: article;
    margin-left: 150px;
    margin-bottom: 20px;
}

#nationTable {
    grid-area: nation;
    margin-right: 160px;
    margin-bottom: 20px;
}



